<!DOCTYPE html>
<html>
<head>
  <title>Idownload</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>	
	<div class="container-fluid">
		<div class="bgwrapper">
			<div class="main-content">
				<%= yield %>
			</div>			
			<div class="bg-overlay"></div>
		</div>	
	</div>
</body>
</html>
