<!DOCTYPE html>
<html>
<head>
  <title>Idownload - Download your photos or Videos from instagram link</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0' name='viewport'>
  <%= csrf_meta_tags %>
</head>
<body>	
	<div class="container-fluid">
		<div class="bgwrapper">
			<div class="main-content">
				<%= yield %>
			</div>			
			<div class="bg-overlay"></div>
			<footer class="copyright">				
					© 2018 <a href="http://www.krotedev.com.br" target="_blank">KröteDev</a> | Imagens: <a href="http://unsplash.com/" target="_blank" >Unsplash</a>				
			</footer>
		</div>	
	</div>
</body>
</html>
